<div class="center">
    <h1> <%= name %>'s dumb question instance</h1>

    <form action="/after" method="POST">
        <label for="question">Type your question here!</label>
        <br>
        <input name="question" id="question" placeholder="Enter Question">
    </form>
</div>

<footer>
    <%= description %>
<footer>
